.wrapper {
  display: flex;
  justify-content: space-between;
}
.sectiongrid {
  margin: 0 32px;
  margin-top: 30px;
}
.cardsWrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.showall {
  color: var(--color-primary);
  cursor: pointer;
}
